
<div class="col-3 menu">
  <div class="item">
    <div class="main">
      <div class="divForEach">
      <div class="nameForEach">
        <h1>Edina Abazovic</h1>
        <h2>Developer</h2><br>
       <img src="assets/img/edina.jpeg"><br><br>
        <p>Edina is not only primarily responsible, but also takes care of the synchronization between VR and the web app.</p>
      </div>

      <div class="nameForEach">
        <h1>Lara Pichler</h1>
        <h2>3D and Design</h2>
        <img src="assets/img/lara.jpeg"><br><br>
        <p>Lara is responsible for the audiovisual design and modeling of the diary and the VR environment.</p>      </div>

      <div class="nameForEach">
        <h1>Sarah Reichl</h1>
        <h2>3D and Design</h2>
        <img src="assets/img/sarah.jpg"><br><br>
        <p>Sarah mainly specializes in website and effect design as well as modeling of the virtual environment.</p>      </div>
    </div>

    </div>
  </div>
</div>
