
<div class="col-3 menu">
  <div class="item">
    <div class="main">
      <div class="divForEach">

        <div class="nameForEach">
          <img src="">
          <h1>Emina Abazovic</h1>
          <h2>Developer</h2>
        </div>

        <div class="nameForEach">
          <img src="">
          <h1>Sophie Böhm</h1>
          <h2>Developer</h2>
        </div>

        <div class="nameForEach">
          <img src="">
          <h1>Josef Stieg</h1>
          <h2>Developer</h2>
        </div>
        

        <div class="nameForEach">
          <img src="">
          <h1>Maria Aschenberger</h1>
          <h2>Developer</h2>
        </div>
      
      </div>
    </div>
  </div>
</div>
