html{
  margin: 0;
}

body{
  text-align: center;
  height: 80vh;
  margin: 0;
}

h2{
  padding-top: 5vh;
}

.center{
  margin: 0 auto;
  display: block;
  margin-bottom: 2vh;
}

iframe {
  width: 70vw;
  height: 70vh;
}
