body{
  margin-top: 5vh;
  border-radius: 5px;
  padding-bottom: 5vh;
  text-align: center;
}
h2{
  padding-top: 5vh;
}

.center{
  margin: 0 auto;
  display: block;

  margin-bottom: 2vh;
}
