.nameForEach{
  opacity: 95%;
  padding: 10px;
  height: 32vh;
  //overflow-y: auto;
  margin: 2vw;
  border-radius: 5px;
}

.item{
  background-color: lightgrey;
  border-radius: 5px;
}

body{
  border-radius: 5px;

}
