body{
  height: 100vh;
  border-radius: 0;
}

.nameForEach{
  opacity: 95%;
  padding: 10px;
  height: 32vh;
  //overflow-y: auto;
  margin: 2vw;
}

.item{
  background-color: #fff;
  margin: 0 auto;
  width: 70vw;
}