<body>

  <div class="item">
    <div class="main">
      <div class="nameForEach">
       <h1>Website</h1>
        <h2>Enter the Lobby Id</h2>
      <p>You can either scan the QR Code on the screen or input the code by yourself. Ask the VR Player to give you a lobby ID if you can't see one.</p>
    <h2>Enter a name</h2>
        <p>Choose a name that you want to go by. Best choose a name that the VR Player knows you as since they can't hear you during the game.</p>
        <h2>Let the fun begin</h2>
        <p>Start chatting with the other players and read through the diary to find extra clues for the VR Player.</p>
      </div>

      <div class="nameForEach">
        <h1>VR</h1>
        <h2>Setup</h2>
        <p>Start the application and wear the setup as described by the producer. This game was developed for Oculus Quest 2. Start the game and wait a few seconds for the other players, so that they can enter the Lobby ID on the website.</p>
      </div>


    </div>
  </div>

</body>
