@import "src/styles";

button{
  background-color: #db7f8e;
}

#user{
  border-radius: 30px;
  padding: 10vh;
}

.user-ges{
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20vh auto auto auto;
  opacity: 95%;
}

mat-label{
  color: #db7f8e;
}

.mat-spinner-color::ng-deep circle{
  stroke: #db7f8e !important;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #db7f8e
}

:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #db7f8e;
}
