@import "src/styles";
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Roboto:wght@300;400&display=swap');

.pull-right {
  @extend .container !optional;
  justify-content: flex-end;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto;
}

.main p{
  padding-right: 8%;
}

button{
  margin-right: 2vw;
  padding-top: 10px;
  margin-bottom: 40px;
  background-color: $button;
  //width: 20vw;
  border-radius: 6px;
  border: none;
  font-family: Roboto;

  width: 30vw;
}

body {
  display: flex;
  flex-direction: row;
  background-color: white;
  opacity: 95%;
  border-radius: 5px;
  margin-top: 2vh;
}

/* Main column */
.main {
  height: 65vh;
  /* padding: 1%;*/
  width: 97%;
  //font-weight: bold;
  font-size: 2vh;
  margin-bottom: 2vh;
}



.button:after {
  content: "";
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.fakeimg {
  background-color: white;
  opacity: 95%;
  width: 100%;
  height: 70vh;
  padding: 20px;
}

.chatBox {
  flex: 33%;
  background-color: lightgrey;
  opacity: 95%;
  padding: 10px;
  height: 67vh;
  overflow-y: auto;
  margin-right: 1vw;
  margin-top: 2vh;
  border-radius: 5px;
  margin-bottom: 2vh;
}

#spielerId{
  font-weight: bold;
}

#lobbyId{
  font-weight: bold;
}

.col-3 menu{
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 90vh;
  overflow-y: auto;
}

.row{
  width: 55%;
}

#previousButton{
  margin-bottom: 1rem;
}

.item{
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

.diaryBox{
  flex: 66%;
  height: 70vh;
}

#spielerId{
  margin-top: 2vh;
  color: $button;
}

#lobbyId{
  margin-top: 2vh;
  color: $button;
}

.pull-right{
  font-size: small;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
}

#generateBarCode{
  opacity: 0%;
}
mat-label{
  color: $button;
}

#barcode{
  padding-top: 1vh;
}

.chatBox[_ngcontent-dwq-c103] input{
  width: 5vw;
  box-shadow: none;
}

.chatBox[_ngcontent-rhe-c103] {
  flex: 33%;
  background-color: #fff;
  padding: 10px;
  width: 30vw;
  border-radius: 40px;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 20vw;
}

.mat-card:not([class*="mat-elevation-z"]){
  box-shadow: none;
}

#sendMessageBtn{
  width: 5vw !important;
  border-radius: 10px;
  margin-left: 1vw;
}

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: $button;
}

.mat-card {
  display: block;
  position: relative;
  width: 30vw;
}

#message{
  box-shadow: none;
  width: 30vw;
}

#inputMessageAll{
  box-shadow: none;
  width: 40vw;
}

:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: $button;
}

.mat-spinner-color::ng-deep circle{
  stroke: $button !important;
}
